.custom-button {
    display: flex;
    border-radius: 5px;
    padding: 2px 8px;
    color: #fff;
    background-color: #4C9BFF;
    cursor: pointer;
    font-size: 14px;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    user-select: none;

    &:hover {
        background-color: rgba(76, 155, 255, 0.8);
    }
}

.custom-button.minor {
    color: #1F1F1F;
    background-color: #EDF2F9;

    &:hover {
        background-color: #E3ECFF;
    }
}

.custom-button.disabled {
    cursor: not-allowed;
    background-color: rgba(76, 155, 255, 0.5);

    &:hover {
        background-color: rgba(76, 155, 255, 0.5);
    }
}
