@font-face {
  font-family: "iconfont"; /* Project id 4535986 */
  src: url('iconfont.woff2?t=1724396965891') format('woff2'),
       url('iconfont.woff?t=1724396965891') format('woff'),
       url('iconfont.ttf?t=1724396965891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yaoqing:before {
  content: "\e620";
}

.icon-xiangshang:before {
  content: "\e607";
}

.icon-guanyu:before {
  content: "\e637";
}

.icon-zhongxin:before {
  content: "\e651";
}

.icon-tingzhi:before {
  content: "\ea89";
}

.icon-quxiao:before {
  content: "\e67c";
}

.icon-wancheng2:before {
  content: "\e649";
}

.icon-shengbo:before {
  content: "\e8c4";
}

.icon-pinglun1:before {
  content: "\e678";
}

.icon-zhiding:before {
  content: "\e64c";
}

.icon-shipin:before {
  content: "\e655";
}

.icon-zuidahua:before {
  content: "\e6a1";
}

.icon-chuangkouhua:before {
  content: "\e650";
}

.icon-xiangji:before {
  content: "\e606";
}

.icon-shipin-ban:before {
  content: "\e605";
}

.icon-yuyin-ban:before {
  content: "\e604";
}

.icon-shipin2:before {
  content: "\e680";
}

.icon-guaduan:before {
  content: "\e603";
}

.icon-wancheng:before {
  content: "\e681";
}

.icon-jietu:before {
  content: "\e622";
}

.icon-xitong:before {
  content: "\e611";
}

.icon-tongyongshezhi:before {
  content: "\e602";
}

.icon-kuaijiejian:before {
  content: "\e634";
}

.icon-tongzhi:before {
  content: "\e64a";
}

.icon-tianjia2:before {
  content: "\e618";
}

.icon-fanhui:before {
  content: "\e630";
}

.icon-pinglun:before {
  content: "\e632";
}

.icon-nv:before {
  content: "\e645";
}

.icon-nan:before {
  content: "\e643";
}

.icon-qianming:before {
  content: "\e635";
}

.icon-beizhu:before {
  content: "\e648";
}

.icon-fenzu:before {
  content: "\e61a";
}

.icon-star:before {
  content: "\e61b";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-tianjia:before {
  content: "\e629";
}

.icon-weixiala:before {
  content: "\e628";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-zhuye:before {
  content: "\e610";
}

.icon-xiala:before {
  content: "\e62a";
}

.icon-pengyouquan:before {
  content: "\e615";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-biaoqing:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-yuyin:before {
  content: "\e687";
}

.icon-dianhua:before {
  content: "\e633";
}

.icon-haoyou:before {
  content: "\e67f";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-zuixiaohua:before {
  content: "\e67a";
}

.icon-guanbi:before {
  content: "\e644";
}

.icon-jilu:before {
  content: "\e6df";
}

.icon-liaotian:before {
  content: "\e61d";
}

